<div class="header">
  <div class="container">

<h1 class="h1-not-logged"> Login </h1>

{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}

<form action="/login" method="post">

    <input type="email" name="email" id="email-input"
      placeholder="E-Mail">
  


    <input type="password" name="password" id="password-input"
      placeholder="Password">


  <button class="btn btn-primary"> Login </button>
</form>

<p>
  Don't have an account?
  <a href="/signup">
    Create an account.
  </a>
</p>

  </div>
</div>