<div class="header">
  <div class="container">

<h1>Profile Page</h1>


<ul>
  <li>{{user.firstNeighm}}</li>
  <li>{{user.lastNeighm}}</li>
  <li>{{user.email}}</li>
  <li>{{user.address}}</li>
</ul>
<a href="/edit">Edit Profile</a>

  </div>
  </div>
